h1{
    background-color: rgb(255, 46, 9);
    padding: 50px;
    }
    div{
        text-align: center;
    }
 
  body{   background: linear-gradient(-450deg, #fff202, #ffcc00, rgba(244, 136, 4, 0.907))}

  img{

    
        border-radius: 35%;
        position:relative;
        left: 02px;
        top: -05px;
        width: 190px;
  }
  
    

     
    